.App {
  margin: 50px;
  font-size: 15px;
}
.nav {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.navbar-item {
  margin-left: 1rem;
}
.cart-total {
  margin-left: 5px;
}
.login-page {
  text-align: center;
  margin: 5rem;
}
.field {
  margin: 1rem;
}
.label {
  padding: 1rem;
  font-size: 2rem;
}
.input {
  padding: 0.5rem;
}
.button {
  font-size: 2rem;
  padding: 0.5rem;
}
.error {
  color: red;
}
